%titles {
  margin-bottom: 30px;
  border-left: 3px solid #444;
  padding-left: 20px;
}

.page-content {

  &__title {
    @extend %titles;
    font-size: 24px;
    font-weight: bold;
  }

  &__subtitle {
    @extend %titles;
    margin-top: 50px;
    font-size: 20px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 22px;
  }

  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}

